Source: setnewwinprops
Section: X11
Priority: optional
Maintainer: Jordi Pujol <jordi-pujol@telefonica.net>
Build-Depends:
 debhelper-compat (= 13),
 dh-exec,
 bash, dash,
Build-Depends-Indep:
 debhelper (>= 9),
 devscripts,
Rules-Requires-Root: no
Standards-Version: 4.5.1

Package: setnewwinprops
Architecture: all
Description: Change window properties for opening windows
 according to a set of configurable rules.
Depends: ${misc:Depends},
 gawk, x11-utils, wmctrl, xdotool,
 bash,
