#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

BIN := $(notdir $(wildcard bin/*))
LIB := $(notdir $(wildcard lib/*))
DEBIAN := $(notdir $(wildcard debian/*init) $(wildcard debian/*default) $(wildcard debian/*post*) $(wildcard debian/*pre*))

export VERSION=$(shell dpkg-parsechangelog | sed -ne 's/^Version: \(.*\)/\1/p')

override_dh_auto_test: $(BIN:%=bin-%) $(LIB:%=lib-%) $(DEBIAN:%=debian-%)

bin-%:
	$(info checking $* ...)
	@bash -n bin/$*
	-@checkbashisms -f bin/$*

lib-%:
	$(info checking $* ...)
	@bash -n lib/$*
	-@checkbashisms -f lib/$*

debian-%:
	$(info checking $* ...)
	@bash -n debian/$*
	-@checkbashisms -f debian/$*

%:
	dh $@
