[Desktop Entry]
Comment=Arrange Linux worskpaces according to a set of configurable rules.
Exec=/usr/bin/desktoparrange.sh start
GenericName=Arrange Linux worskpaces
Name=DesktopArrange
StartupNotify=true
NoDisplay=true
Terminal=false
Type=Application
X-DBUS-StartupType=wait
X-GNOME-Autostart-Phase=Desktop
X-KDE-autostart-phase=1
X-KDE-autostart-after=panel
