[Desktop Entry]
Comment=Arrange Linux worskpaces according to a set of configurable rules.
Exec=/usr/bin/desktoparrange.sh start
GenericName=DesktopArrange
Name=DesktopArrange
StartupNotify=true
NoDisplay=true
Terminal=false
Type=Application
X-DBUS-StartupType=wait
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
